* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(245, 248, 255, 255);
    text-align: center;
    align-items: center;
}

h1 {
    margin: 20px;
}

.cont {
    width: 80%;
    display: inline-block;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info {
    width: 100%;
    margin: 0px auto;
}

.pasos {
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: left;
    font-family: "Comic Sans MS", "Comic Sans";
    width: 300px;
    min-width: 100px;
}

li {
    list-style: none;
    line-height: 30px;
}

.imgs {
    justify-content: center;
    align-items: center;
}

.imgs img {
    width: 290px;
}

.wrapper {
    align-items: center;
}

.data {
    margin: 0 auto;
    width: 79%;
}

form .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data form .inp,
form select {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    outline: 0;
    padding: 5px;
    font-size: 15px;
}

.grupo {
    padding: 10px;
    text-align: left;
    align-items: center;
}

.gr-2 {
    margin-top: 6px;
}

.radio input {
    display: inline;
}

hr {
    width: 100%;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(170, 170, 170);
}

form .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}

.sp {
    margin: 15px;
}

form .c {
    padding-top: -5px;
}

form .grid-1 {
    margin: 20px;
}

.area {
    min-width: 500px;
    min-height: 150px;
    resize: none;
}

.btn {
    font-size: 20px;
    width: 50%;
    display: inline-block;
    background: rgb(36, 92, 220);
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: rgb(187, 207, 255);
}

@media only screen and (max-width:350px) {
    .cont {
        width: 90%;
    }
    .imgs img {
        width: 250px;
    }
}

@media only screen and (max-width:480px) {
    form .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
}

@media only screen and (max-width:400px) {
    form .grid-3 {
        font-size: 12px;
    }
}

@media only screen and (min-width:540px) {
    .gr-2 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media only screen and (max-width:540px) {
    .gr-2 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 15px;
        text-align: left;
    }
}

@media only screen and (max-width:750px) {
    .imgs img {
        margin-top: 5px;
    }
    .data {
        width: 100%;
    }
}